{% extends 'core/base.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block content %}
{% if request.user.is_staff %}
{% include 'pages/includes/pages_menu.html' %}
{% endif %}
<main role="main">
  <div class="container mb-4"><h1>Listado de Usuarios de la aplicación</h1>
    {% for profile in profile_list %}
      <div class="row mt-3">
        <div class="col mx-auto">
          <h2 class="mb-4">{{profile.user.username}}</h2>
          <div>
            <p><a href="{% url 'profiles:profile' profile.user.username %}">Ver perfil</a></p>
          </div>
        </div>
      </div>
    {% endfor %}
<!-- Menú de paginación -->
{% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item ">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">&laquo;</a>
        </li>
      {% endif %}
      {% for i in paginator.page_range %}
        <li class="page-item {% if page_obj.number == i %}active{% endif %}">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item ">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">&raquo;</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
  </div>
</main>
{% endblock %}
