{% extends 'core/base.html' %}
{% load static %}

{% block title %}  Grupo Elite   {% endblock %} 

{% block subtitle %} Mejores marcas en {{request.GET.q }}Km                      {%endblock%}
    

  <!-- Cabecera -->

<!-- Cambiar la foto en función de si es 10k, 21k o 42k -->

{% block bigphoto %} 
  {% if request.GET.q == '10' %}
    url('{% static 'core/img/cursamerce2.jpg' %}')    
  {% elif request.GET.q == '21' %}
    url('{% static 'core/img/Mitja.jpg' %}')
  {% elif request.GET.q == '42' %}
    url('{% static 'core/img/Maraton.jpg' %}')
  {% endif %}
{%endblock%}

{% block content %}

<!-- Call DataTables function e inicialización en Castellano-->


{% include 'elite/includes/DataTablesOptions.html'%}


<!-- Fin de Call DataTables function-->


<!-- Visualización de la Tabla de clasificación -->

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <table class="table" id="myTable" data-paging = 'false'>
        <thead class="text-white bg-info">
          <tr id="centered">
            <th scope="col" class="d-none d-sm-table-cell">Ranking</th>
            <th scope="col" class="d-none d-sm-table-cell">Nombre</th>
            <th scope="col" class="d-none d-sm-table-cell">Apellido</th>
            <th scope="col" class="d-none d-sm-table-cell">Marca</th>
            <th scope="col" class="d-none d-sm-table-cell">Equipo</th>
          </tr>
        </thead>
        <tbody>
          {% for item in object_list %}
            {% if item.is_elite == true %}
              <tr>
                <th scope="row" id="centered" class="d-none d-sm-table-cell">{{forloop.counter}}</th>
                  <td scope="row" id="centered">{{item.name}}</td>
                  <td scope="row" id="centered" class="d-none d-sm-table-cell">{{item.surname}}</td>
                {% if request.GET.q == '10'%}
                  <td scope="row" id="centered">{{item.user.profile.best10km|time:"i\m s\s"}}</td>
                {% elif request.GET.q == '21' %}
                  <td scope="row" id="centered">{{item.user.profile.best21km|time:"H\h i\m s\s"}}</td>
                {% elif request.GET.q == '42' %}
                  <td scope="row" id="centered">{{item.user.profile.best42km|time:"H\h i\m s\s"}}</td>
                {% else %}
                  <td>N/A</td>
                {% endif %}
                  <td scope="row" id="centered"><i class="fas fa-tshirt team_{{item.team.color}}"></i></td>  <!--T-Shirt color changing depending on the team color--> 

              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Fin de Visualización de la Tabla de clasificación -->

<!-- Pié de página -->

<footer>
  <p class="copyright text-muted">Copyright &copy; 2020 · Stefano </p>
</footer>


{% endblock %} 




