<script>
$(document).ready(function() {
    $('#myTable').DataTable( {
        "language": {
                    "decimal":        "",
                    "emptyTable":     "No se han encontrado registros",
                    "info":           " ",
                    "infoEmpty":      " ",
                    "infoFiltered":   " ",
                    "infoPostFix":    "",
                    "thousands":      ".",
                    "lengthMenu":     " ",
                    "loadingRecords": "Cargando...",
                    "processing":     "Procesando...",
                    "search":         "Buscar:",
                    "zeroRecords":    "No se han encontrado registros",
                    "paginate": {
                        "first":      " ",
                        "last":       " ",
                        "next":       " ",
                        "previous":   " "
    },
        }
        
    } );
} );

</script>