{% extends 'core/base.html' %}
{% load static %}

{% block title %} Runners Barceloneta  {% endblock %} 

{% block subtitle %}  2019-2020	 {%endblock%}
    

  <!-- Cabecera -->

{% block bigphoto %} url('{% static 'core/img/IMG_20181121_134423-03.jpeg' %}')    {%endblock%}


<!-- Pié de página -->

{%block content %}

{% for carrera in carreras_list %}
<div class="container">
    <div class="row my-3">  
		<div class="col-lg-3 col-md-4 offset-lg-1">
			<img class="img-fluid" src="{{carrera.image.url}}" alt="">
	    	</div> 
		<div class="col-lg-7 col-md-8">
	    	<h2 class="section-heading title">{{carrera.name}}</h2>
			<h3 >{{carrera.date |date:"d M, Y"}}</h3>   
	    	<p>{{carrera.description}}</p>
			<p><a href= "{% url 'resultados' carrera.id %}" class="link">Resultados</a> </p>
        	</div>
		</div> 
	</div>
{% endfor %}

{% endblock %} 


