{% extends 'core/base.html' %}
{% load static %}

{% block title %} Clasificación por Equipos    {% endblock %} 

{% block subtitle %}  {%endblock%}
    

  <!-- Cabecera -->

{% block bigphoto %} url('{% static 'core/img/IMG_20181121_134423-03.jpeg' %}')    {%endblock%}


{% block content %}

<!-- Call DataTables function e inicialización en Castellano-->

{% include 'carreras/includes/DataTablesOptions.html'%}

<!-- Fin de Call DataTables function-->


<!-- Visualización de la Tabla de clasificación -->

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <table class="table" id="myTable">
        <thead class="text-white bg-info">
          <tr id="centered">
            <th scope="col">Posición</th>
            <th scope="col">Equipo</th>
            <th scope="col">Puntos</th>
          </tr>
        </thead>
        <tbody>
          {% for item in resultados_equipos %}
            {% if item.tot_score is not None %}
              <th scope="row" id="centered">{{forloop.counter}}</th>
                <td scope="row" id="centered"><i class="fas fa-tshirt team_{{item.color}}"></i></td>  <!--T-Shirt color changing depending on the team color--> 
                <td scope="row" id="centered">{{item.tot_score}}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Fin de Visualización de la Tabla de clasificación -->

<!-- Pié de página -->

<footer>
  <p class="copyright text-muted">Copyright &copy; 2020 · Stefano </p>
</footer>


{% endblock %} 

