{% extends 'core/base.html' %}

{% load static %}

{% block title %}  Clasificación General  {% endblock %} 

{% block subtitle %}  {%endblock%}
    

  <!-- Cabecera -->

{% block bigphoto %} url('{% static 'core/img/IMG_20181121_134423-03.jpeg' %}')    {%endblock%}


{% block content %}

<!-- Mensaje si se acaba de actualizar la posición correctamente -->

{% if 'registered' in request.GET or 'updated' in request.GET %}
<div class="alert alert-success" role="alert">
Posición actualizada correctamente. <b>Ya puedes ver tu nueva posición en la clasificación</b>
</div>
{% endif %}


<!-- Visualización de la Tabla de clasificación -->

<!-- Call DataTables function-->

<script>
$(document).ready(function() {
    $('#myTable').DataTable( {
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
        }
    } );
} );
</script>



<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <table class="table" id="myTable">
        <thead class="text-white bg-info">
          <tr id="centered">
            <th scope="col">Posición</th>
            <th scope="col">Nombre</th>
            <th scope="col" class="d-none d-sm-table-cell">Apellido</th>
            <th scope="col">Equipo</th>
            <th scope="col">Puntos</th>
          </tr>
        </thead>
        <tbody>
          {% for item in resultados %}
            {% if item.tot_score is not None %}
              <th scope="row" id="centered">{{forloop.counter}}</th>
                <td scope="row" id="centered">{{item.name}}</td>
                <td scope="row" id="centered" class="d-none d-sm-table-cell">{{item.surname}}</td>
                <td scope="row" id="centered"><i class="fas fa-tshirt team_{{item.team.color}}"></i></td>  <!--T-Shirt color changing depending on the team color--> 
                <td scope="row" id="centered">{{item.tot_score}}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Pié de página -->

<footer>
  <p class="copyright text-muted">Copyright &copy; 2020 · Stefano </p>
</footer>


{% endblock %} 


