{% extends 'core/base.html' %}
{% load static %}
<style>.errorlist{color:red;}</style>
{% block title %}    Club de Runners | Introducir posición    {% endblock %} 

{% block subtitle %} Registrar posición en carrera  {%endblock%}
    

  <!-- Cabecera -->

{% block bigphoto %} url('{% static 'core/img/IMG_20181121_134423-03.jpeg' %}')    {%endblock%}


{% block content %}

<main role="main">
  <div class="container">
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
        {% if int_mess %}
          <div class="alert alert-warning" role="alert">
            Para este Runner ya ha introducido una posición. Si quiere modificarla haga click <a href="{% url 'cambia_posicion'}"> aquí </a>
            </div>
        {% endif %}
        <div>
            <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
              <div class=text-center>
                <input type="submit" class= "btn btn-primary btn-block" value="Modificar posición en carrera" />
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %} 