{% extends 'core/base.html' %}
{% load static %}
{% block title %}Iniciar sesión{% endblock %}

{% block bigphoto %} url('{% static 'registration/img/Barcelona Half Marathon 2020.png' %}')    {%endblock%}
{% block content %}
<style>
  .errorlist{color:red;}
  .smalltext{color:blue; font-size:14px;}
</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        {% if 'registered' in request.GET %}
        <p style="color:green"> Usuario registrado correctamente! </p>
        {% endif %}
        <form action="" method="post">{% csrf_token %}
          <h3 class="mb-4">Iniciar sesión</h3>  
          {% if form.non_field_errors %}
            <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
          {% endif %}
          <p>
            <input type="text" name="username" autofocus maxlength="254" required
              id="id_username" class="form-control" placeholder="Nombre de usuario"/>
          </p>
          <p>
            <input type="password" name="password" required
              id="id_password" class="form-control" placeholder="Contraseña"/>
          </p>
          <p><input type="submit" class="btn btn-primary btn-block rounded" value="Acceder"></p>
          <p>
            Si quieres restablecer su contraseña haga click <a href="{% url 'password_reset' %}"> aquí </a>    
          </p>
          <p><a class="btn btn-success btn-sm rounded" href="{% url 'signup' %}" style="text-decoration:none;" role="button">Nuevo Usuario</a></p>
          <p>
          </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
