{% autoescape off %}
Hola Runner!! 

Te envío este e-mail porqué has pedido una nueva contraseña para acceder a  {{ site_name }}.

Por favor accede a la siguiente página web para elegir una nueva contraseña:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

En caso de que lo hayas olvidado, tu usuario es: {{ user.username }}

Gracias por usar este sitio, y sigue acumulando Kms!

Stefano y todo el equipo de {{ site_name }}.

{% endautoescape %}